
name: Deploy to stage

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Create .env file
        run: |
          echo "accessKeyId=${{ secrets.ACCESS_KEY_ID }}" >> .env
          echo "secretAccessKey=${{ secrets.SECRET_ACCESS_KEY }}" >> .env
          echo "region=us-east-1" >> .env
          echo "dbendpoint=${{ secrets.ENDPOINT }}" >> .env
          echo "S3BucketName=private-teacher-data" >> .env
          echo "JWT_PRIVATE_KEY=${{ secrets.JWT_PRIVATE_KEY }}" >> .env
          echo "JWT_PUBLIC_KEY=${{ secrets.JWT_PUBLIC_KEY }}" >> .env
        shell: bash
        env:
          ACCESS_KEY: ${{ secrets.ACCESS_KEY }}
          SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS_KEY }}
          AWS_ENDPOINT: ${{ secrets.AWS_ENDPOINT }}

      - name: Install dependencies
        run: npm install

      - name: Create Lambda deployment package
        run: zip -r DEVArchive.zip . 

      - name: Configure AWS CLI
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          
      - name: Upload package to S3 and deploy to Lambda
        run: |
          aws s3 cp DEVArchive.zip s3://private-teacher-api-release/DEVArchive.zip
          aws lambda update-function-code \
            --function-name privateTutorAPIDevLambda \
            --s3-bucket private-teacher-api-release \
            --s3-key DEVArchive.zip
